<%= form_for @note do |f| %>
   <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Type your great ideas here!" %>
   <br>
 <div class="form-group">
   <%= f.submit "Save", class: 'btn btn-success' %>
 </div>
<% end %> 