<div class="media-body">
    <table class="table-responsive">
      <% current_user.notes.each do |note| %>
        <tr>
          <td><p><%= note.body %></p></td>
          <td>
            <div class='pull-right'>
              <%= link_to edit_note_path(note), class: 'btn btn-sm btn-primary' do %><i class="glyphicon glyphicon-pencil"> </i><% end %> 
              <%# if policy(note).destroy? %>
              <%= link_to @note, class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure?' } do %><i class="glyphicon glyphicon-remove"> </i><% end %>
              <%# end %>
            </div>
          </td>  
        </tr>
      <% end %>
    </table>
  </div>