 <div class="claim">

   <% if item.claim && item.claim.user == current_user %>
     <strong>You have claimed this item.</strong><br><br>
     <%= link_to [item, item.claim], method: :delete, class: 'btn btn-danger' do %>
        <i class="glyphicon glyphicon-remove"> </i>&nbsp; Unclaim
       <% end %>

   <% elsif item.claim %>
    <strong><em>Claimed by <%= item.claim.user.name %></em></strong>

   <% else %>
     <%= link_to item_claims_path(item), method: :post, class: 'btn btn-success' do %>
        <i class="glyphicon glyphicon-ok"> </i>&nbsp; Claim
       <% end %>
   <% end %>
   
 </div>

