<h4 class="text-center">Upcoming Birthdays</h4>
<br>
<% if upcoming_birthdays.any? %>
  <table class="table">
    <tbody>
      <% upcoming_birthdays.each do |friend| %>
        <% if friend %>
          <tr>
              <td><%= friend.name %></td>
              <td><%= friend.user_profile.birthdate %></td>
              <td><%= friend.user_profile.birthdate.strftime("%B %d") %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
 <% else %>
  <p class="text-center">*Phew* - you're safe! None of your friends have birthdays coming up in the next 3 months!</p> 
 <% end %> 