<h4 class="text-center">Upcoming Birthdays</h4>
<% if upcoming_birthdays.any? %>
  <table class="table">
    <tbody>
      <% upcoming_birthdays.each do |friend| %>
        <% if friend %>
          <tr>
              <td><%= friend.user_profile.birthdate.strftime("%B %d") %></td>
              <td><%= link_to "#{friend.name}", profile_user_path(friend) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
 <% else %>
    <div class="no-bday-div">
      <h5 class="no-bday text-center">*Phew* - you're safe!</h5>
      <h5 class="no-bday text-center">None of your friends have birthdays coming up in the next 3 months!</h5>
  </div>
<% end %> 
