<h4 class="text-center">Upcoming Birthdays</h4>
<% if upcoming_birthdays.any? %>
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <% upcoming_birthdays.each do |friend| %>
          <% if friend %>
            <tr>
                <td><%= friend.user_profile.birthdate.strftime("%B %d") %></td>
                <td><%= link_to "#{friend.name}", profile_user_path(friend) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
 <% else %>
    <div class="no-bday-div">
      <p class="none text-center">*Phew* - you're safe!</p>
      <p class="none text-center">None of your friends have birthdays coming up in the next 3 months!</p>
  </div>
<% end %> 
