<h4 class="text-center">My Shopping List</h4>
<br>
<% if user.claimed_items.count >= 1 %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <% user.claimed_items.each do |item| %>
          <tr>
              <td><%= item.name %></td>
              <td><%= item.size %></td>
              <td><%= item.notes %></td>
              <td><%= render partial: 'claims/claim_short', locals: {item: item, user: user } %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You don't have any claimed items.</p>
<% end %>