<h2 class="text-center">My Gift List</h2>
  <% if current_user.user_profile %>
      <%= render "profile", user: current_user %>
      <%= link_to "Edit My Profile", edit_user_profile_path(current_user), class: 'btn btn-success' %>
  <% else %>
    <br>
      <h4> You still need to fill out your profile! Help your friends pick great gifts for you! </h4>
    <br>
      <%= link_to "Complete My Profile", new_user_profile_path, class: 'btn btn-success' %>
      <br>
  <% end %>
<br>
<br>

<h3>My Items</h3>
  <%= render "items/items", user: current_user %>