<div class='about'>
  <h2 class='text-center'>About Wrapt</h2>
  <div class='intro'>
    For many of us, a special kind of panic sets in when we realize it's almost our anniversary, or the holidays, or a loved one's birthday... and we have absolutely nothing in the works -- again. Some of us seem to draw a total blank whenever it's gift-giving time.
  </div>
  <div class='intro'>
    What if you could access everyone's most up-to-date wishlist whenever you wanted? Wouldn't it be great to have your own wishlist in one place, where your friends and relatives could see it?
  </div>

  <div class='features-box'>
    <p>At Wrapt, we want to transform gift-giving and gift-getting back to the joyful experience they were meant to be, and we've got helpful features you won't find anywhere else:</p>
    <ul>
      <li><strong>Restrict viewing permissions</strong> on your items: Want your friends to see different items than your relatives? Don't want Uncle Bob or Aunt Jean picking out clothes for you? Wrapt has you covered!</li>
      <li><strong>Claim a gift</strong>: Stake your claim to guarantee your gift won't be duplicated! We'll help you keep track of the items you've claimed with your own shopping list.</li>
      <li>Conveniently view your friends' upcoming birthdays, your shopping list, and more from your <strong>dashboard</strong> as soon as you log in.</li>
    </ul>
  </div>

  <div class='text-center'>
    <h3>Sign up today and tell us what you think!</h3>
    <h3>Happy Gifting!</h3>
  </div>
</div>
