<h1>About Wrapt</h1>
<p>Created by: Rachel Colby</p>
<p>The idea for Wrapt was born one evening in December when I realized once again that I had no idea what to get anyone on my holiday list, a problem that was all too familiar. In fact, no matter the occasion I was more often than not at a loss as to what to get my loved ones. Wouldn't it be easy if I could just access their most up-to-date list whenever I wanted? And wouldn't it be great to have my own wishlist in one place, where my friends and relatives could see it? Wrapt lets you do just that, with the following special features</p>
<ul>
  <li>Restrict viewing permissions on your items! Want your friends to see different items than your relatives? Don't want Uncle Bob or Aunt Jean trying to buy you clothes? Wrapt has you covered!</li>
  <li>Claim a gift: stake your claim to guarantee your gift won't be duplicated!</li>
</ul>  