<div class='about'>
  <div class='main'>
    <h2 class='text-center'>About Wrapt</h2>
        <div class='header'><em>There's a special kind of panic that sets in when you realize it's almost your anniversary, or the holidays, or a loved one's birthday... and you have absolutely nothing in the works. It's not that you don't care - you tried to listen for hints - and yet somehow you seem to draw a total blank every time it's gift-giving time. What happened to the joy of giving?</em></div>
        <div class='about-text'>
          <p><em>Wouldn't it be easy if you could just access everyone's most up-to-date wishlist whenever you wanted? And wouldn't it be great to have your own wishlist in one place, where your friends and relatives could see it? </em></p>
        </div>
    </div>
      <div class='about-text features-bar'>
        <p>At Wrapt, we're working hard to transform gift-giving and gift-getting back to the joyful experience they were meant to be, and we've got helpful features you won't find anywhere else:</p>
        <ul>
          <li>Restrict viewing permissions on your items: Want your friends to see different items than your relatives? Don't want Uncle Bob or Aunt Jean picking out clothes for you? Wrapt has you covered!</li>
          <li>Claim a gift: Stake your claim to guarantee your gift won't be duplicated! We'll help you keep track of the items you've claimed with your own shopping list.</li>
          <li>Conveniently view your friends' upcoming birthdays, your shopping list, and more as soon as you log in.</li>
        </ul>  
      </div>

      <div class='text-center main'>
        <h4><em>Sign up today and let us know what you think! <br><br>Happy Gifting!</em></h4>
        <h4><em>- Rachel Colby, Creator of Wrapt</em></h4>
      </div>
  <img src="../images/goldengate.jpg" />
</div>