<div class='narrow'>
  <h2 class='text-center'>About Wrapt</h2>
  <h4><em>There's a special kind of panic that sets in when you realize it's almost your anniversary / the holidays / a loved one's birthday... and you have absolutely nothing in the works. It's not that you don't care - you tried to listen for hints - and yet somehow you seem to draw a total blank every time it's gift-giving time.</em></h4>
  <p>The idea for Wrapt was born one evening in December when I realized once again that I had no idea what to get anyone on my holiday list, a problem that was all too familiar. No matter the occasion, I'm usually at a loss as to what to get my loved ones. By the time I realize it, it's too late to ask my friends and family what they want. I pondered my options that evening: hazard a wild guess or admit that once again, I had no gift ideas. Somewhere in the back of my mind, a little voice asked, "What happened to the joy of giving?"</p>
  <h4><em>Wouldn't it be easy, I thought, if I could just access everyone's most up-to-date wishlist whenever I wanted? And wouldn't it be great to have my own wishlist in one place, where my friends and relatives could see it? </em></h4>
  <p>Wrapt lets you do just that, and offers helpful features you won't find in other gift registries:</p>
  <ul>
    <li>Restrict viewing permissions on your items: Want your friends to see different items than your relatives? Don't want Uncle Bob or Aunt Jean picking out clothes for you? Wrapt has you covered!</li>
    <li>Claim a gift: Stake your claim to guarantee your gift won't be duplicated! We'll help you keep track of the items you've claimed with your own shopping list.</li>
    <li>View your friends' upcoming birthdays, your shopping list, and more from your convenient dashboard when you log in.
  </ul>  
  <p>At Wrapt, we're working hard to transform gift-giving and gift-getting back to the joyful experience they should be! Sign up today and let us know what you think!</p>
  <p>Sincerely,</p>
  <p>Rachel Colby</p>
  <p>Creator of Wrapt</p>
</div>