<div class="jumbotron landing text-center">
  <h1 id="main-site-title">Wrapt</h1>
   <h3>Keep track of the gifts you and your friends want, all in one place!</h3>
   <br>

  <div class="row">
    <div class="col-md-4">
      <p>View friends' wishlists...</p>
    </div>
    <div class="col-md-4">
      <p>Make one of your own...</p>
    </div>
    <div class="col-md-4">
      <p>Give and receive the perfect gift!</p>
    </div>
  </div>
<br>
  <p><%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
  <h3><em>Let's bring the joy back to giving!</em></h3>
</div>
