<br>
<div class="jumbotron">
  <h1>Wrapt</h1>
  <p>Bringing the joy back to giving!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
  <p>They say it's better to give than receive.... But sometimes both seem incredibly taxing! Wrapt helps you organize your gift list and keep up with your friends' lists too. Let's bring the joy back to giving and receiving!</p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Make your list...</h2>
  </div>
  <div class="col-md-4">
    <h2>View friends' lists</h2>
  </div>
  <div class="col-md-4">
    <h2>Give and receive the perfect gift!</h2>
  </div>
</div>