<br>
<div class="jumbotron y text-center">
  <h1>Wrapt</h1>
   <h3>Wrapt helps you keep up with your friends' lists and organize your own.</h3>
   <br>

  <div class="row">
    <div class="col-md-4">
      <p>Make your list...</p>
    </div>
    <div class="col-md-4">
      <p>View friends' lists</p>
    </div>
    <div class="col-md-4">
      <p>Give and receive the perfect gift!</p>
    </div>
  </div>
<br>
  <p><%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
  <br>
  <p>Let's bring the joy back to giving!</p>
</div>