<div class="text-center">
  <h2>Add a Friend!</h2>
    <h5>It's easy to share your gift list and profile with a friend. Just enter their email here!</h5>

  <%= form_for(Friendship.new) do |f| %>
    <div class="form-group">
      <%= text_field_tag :email %>
      <%= f.submit "Add", class: 'btn btn-sm btn-success' %>
    </div>
  <% end %>

  <p>Friends you add can see your gift list and profile. If you want to see someone's gift list, ask them to add you as a friend.</p>

</div>
