<% if current_user.buddies.count >= 1 %>
  <h4 class="text-center"> These friends can see your gift list: </h4>

  <table class = 'table'>
    <% current_user.buddies.each do |buddy| %>
    <tr>
      <td><h5><%= buddy.name %></h5></td>
      <td>
        <% friendship = current_user.friendships.where(buddy_id: buddy.id).first %>
        <%= link_to [friendship], method: :delete, class: 'btn btn-danger' do %><i class="glyphicon glyphicon-remove"> </i>&nbsp; Remove
        <% end %>
      </td>  
    </tr>
    <% end %>

  </table>

<% else %>

  <h4>No one can see your gift list! Add friends so they can check out your list!</h4>

<% end %> 

