<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3><%= @user.name %> has invited you to join Wrapt! </h3>
    <p>
      Wrapt lets you share what gifts you want with friends, and keep track of their wishlists too! We've included customizable viewing permissions and the ability to "claim" a gift so nobody else buys the same gift as you. 
    </p>
    <p>
      <%= link_to "Check out Wrapt today!", welcome_index_url %>
    </p>
  </body>
</html>