<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3><%= @user.name %> has invited you to join Wrapt! </h3>
    <p>
      Wrapt lets you share what gifts you want with friends, and keep track of their wishlists too! We've included great features that make giving and receiving gifts a wrap. You can claim a gift on a friend's list to make sure nobody else buys the same gift, and customize viewing permissions so items on your list are visible only to certain people.    
    </p>
    <p>
      <%= link_to "Check out Wrapt today!", welcome_index_url %>
    </p>
  </body>
</html>