<div class="exclusion">
  
  <% if item.exclusions.where(user_id: buddy_id).first %>
    <% exclusion = item.exclusions.where(user_id: buddy_id).first %>
    <%= link_to [item, exclusion], method: :delete, class: 'btn btn-success' do %><i class="glyphicon glyphicon-eye-open"></i>&nbsp; Allow
    <% end %>

  <% else %>
    <%= link_to item_exclusions_path(item, buddy_id: buddy_id), method: :post, class: 'btn btn-danger' do %><i class="glyphicon glyphicon-eye-close"></i>&nbsp; Restrict
    <% end %>
  <% end %>

</div>