<br>
  <h3>Update Viewing Permissions for <%= @item.name %></h3>
<br>
  <table class='table'>
  <% current_user.buddies.each do |buddy| %>
    <tr>
      <td><h5><%= buddy.name %></h5></td>
      <td>
         <%= render partial: 'exclusions/exclusion', locals: { item: @item, buddy_id: buddy.id } %>
      </td>  
    </tr>
  <% end %>
</table>

<%= link_to "Back to Profile", user_path(current_user), class: 'btn btn-primary' %>  