<br>
  <h3>Update Viewing Permissions for <%= @item.name %></h3>
<br>
  <table class='table'>
  <% current_user.buddies.each do |buddy| %>
    <tr>
      <td><h5><%= buddy.name %></h5></td>
      <td>
         <%= render partial: 'exclusions/exclusions', locals: {item: @item, user: current_user } %>
      </td>  
    </tr>
  <% end %>