.btn.btn-danger.restrict {
  border-radius: 50%;
  background-color: black;
  border-color: black;
}

div.exclusion {
  .btn.btn-success {
    width: 98px;
  }
  .btn.btn-danger {
    width: 98px;
  }
}