// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.birthday {
  background-color: #71D4FF; /* blue */
  height: 16em;
  overflow-x: scroll;
  overflow-y: scroll;
  padding: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: rgba(113, 240, 111, 0.76); /* light green */
 }

.no-bday-div {
  margin: 1.7em 1em 2em 1em;
}

.none {
  font-size: 16px;
  line-height: 1.5em;
}

.friend-list {
  background-color: #71D4FF; /* blue */
  padding: 3px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 5px;
  border-color: rgba(113, 240, 111, 0.76); /* light green */
 }

.add-friend {
  background-color: rgba(113, 240, 111, 0.76); /* light green */
  padding: 5px 10px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 5px;
  border-color: #71D4FF; /* blue */
}

.shop {
  background-color: rgba(113, 240, 111, 0.76); /* light green */
  padding: 5px 10px;
  margin: 20px 0px;
  height: 16em;
  overflow-y: scroll;
  border-style: solid;
  border-width: 5px;
  border-color: #71D4FF; /* blue */
 }

 .notes {
  background-color: #71D4FF; /* blue */
  padding: 5px 10px;
  margin: 20px 0px;
  height: 18em;
  overflow-y: scroll;
  border-style: solid;
  border-width: 5px;
  border-color: rgba(113, 240, 111, 0.76); /* light green */
}

.intro {
  text-align: justify;
  font-size: 18px;
  margin: 18px 0 5px 0;
}

.about {
  margin: auto;
 }

.jumbotron.y {
  background-color: #7f16c5; /* purple */
  color: #ffffff;
  border-style: solid;
  border-width: 5px;
  border-color: #35D04E;
}

.jumbotron.y h1 {
  color: #FFE552;
  font-weight: bold;
}

.main {
  background-color: #7f16c5; /* purple */
  color: #FFE552;
  box-sizing: border-box;
  margin: .7em;
  padding: 15px;
}

.features-box {
  background-color: rgba(113, 240, 111, 0.76); /* light green */
  padding: 15px;
  box-sizing: border-box;
  font-size: 15px;
  color: black;
  margin: .7em;
}

.features-bar li {
  margin: .5em;
}

.small {
  width: 25%;
  margin: 10px
}
