// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friend {
   overflow-x: scroll;
   overflow-y: scroll;
 }

.birthday {
  background-color: #fff129;
 }

.items {
  background-color: #6cefdd;
 }

.header {
  font-size: 20px;
  margin: 18px 0 5px 0;
}

.about {
  margin: auto;
 }

.about-text {
  text-align: justify;
  margin: 12px 0 20px 0;
  font-size: 17px
 }

.jumbotron.y {
  background-color: #a819e1;
  color: #ffffff
}