// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friend {
   overflow-x: scroll;
   overflow-y: scroll;
 }

 .birthday {
  background-color: #fbe660;
 }

 .items {
  background-color: #6cefdd;
 }